%h2.class.prepend-top= @project.title

%p!= @project.description

%section.project-status
  %div#status.span6
    %h3 Project Closing
    %h2= distance_of_time_in_words(DateTime.now, @project.valid_until)
  %div#fundraising.span6
    %h3 Funds raised
    %h2= @project.amount
  %div
    %h3 Location
    %h2= @project.address

  %section#fundraiser About the fundraiser
  %img{:src => "http://placehold.it/150x150", :width => 150, :height => 150}
    %dd= @project.user.name


%div.btn-group
  %button.btn= link_to("Edit Project", :edit_project)
  %button.btn=link_to("Back this project", :back_project, :confirm => "Do you really want to back this project with 100 Euro?")
  %button.btn=link_to("Go back to project list", :projects)
