
%h2.class.prepend-top= @project.title
%p!= @project.description

%dl
  %dt User
  %dd= @project.user.name
  %dt Location
  %dd= @project.address
  %dt Amount
  %dd= @project.amount
  %dt Valid until
  %dd= @project.valid_until

%p= link_to("Go back to project list", :projects)
%p= link_to("Edit project", :edit_project)
