%html
  %head
    %title= 'Localstarter - fund your commune'    
    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
    = csrf_meta_tags
    = javascript_include_tag :application
%body
  %div.container
    %header#top-navigation.span12.prepend-top.append-bottom
      %div.branding.span4
        %img{ :src => path_to_image("LocalStarter.jpg"), :Width => "50%", "style" => "margin-left: -40px" }
      %nav.top.span4
        %ul.nav
          %li 
            %a{:href=>"/"} Create
          %li
            %a{:href=>"discover"} Discover
      %div.search.span2
    = yield
