%html
  %head
    %title= 'Localstarter - fund your commune'    
      = stylesheet_link_tag 'application', :media => 'all'
      = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
	  = csrf_meta_tags
  %body
    %div.container
      %header#top-navigation.span12.prepend-top.append-bottom
        %div.branding.span6
          %h1 Localstarter	
        %div.search.span6 
  = yield
  = javascript_include_tag :application
	
