<<<<<<< HEAD
%html
  %head
    %title= 'Localstarter - fund your commune'    
    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
    = csrf_meta_tags
    = javascript_include_tag :application

  %body
    %div.container
      %header#top-navigation.span12.prepend-top.append-bottom
        %div.branding.span6
          %h1 Localstarter	
        %div.search.span6 
  = yield
=======
!!! 5
%head
  %title= 'Localstarter - fund your commune'
  = stylesheet_link_tag 'application', :media => 'all'
  = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
  = csrf_meta_tags
%body
  %div.container
    %header#top-navigation.span12.prepend-top.append-bottom
      %div.branding.span4
        %h1 Localstarter
      %nav.top.span4
        %ul.nav
          %li 
            %a{:href=>"_self"} Create
          %li
            %a{:href=>"discover"} Discover
      %div.search.span2
    = yield
  = javascript_include_tag :application
>>>>>>> minor updates
